<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<head>
	<meta charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<title>گروه بازرگانی جمالی</title>


	<style>
		img.wp-smiley,
		img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 .07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
		}
	</style>


	<link rel='stylesheet' type="text/css" href="css/style.css" />
	<link rel='stylesheet' type="text/css" href="css/dashicons.min.css" />
	<link rel='stylesheet' type="text/css" href="css/bootstrap.min.css" />
	<link rel='stylesheet' type="text/css" href="css/style-home-page.css" />
	<link rel='stylesheet' type="text/css" href="css/style2.css" />
	<link rel='stylesheet' type="text/css" href="css/style3.css" />

	<link rel='stylesheet' type="text/css" href="css/bootstrap-icons.css" />


	<script src="js/jquery-3.4.1.slim.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/slick-slider.js"></script>
	<script src="js/ver-slide-head.js"></script>
	<script src="js/all.js"></script>











	<link rel="icon" href="images/icon.jpg" />



</head>
<body id="page-top">


	<div class="news-slide-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<p class="dateTopSlider">
						امروز :
						<span>شنبه 20 دی 1399</span>
					</p>
				</div>
				<div class="col-lg-9">
					<section class="vertical-slider-header slider">
						<div class="slide">
							<h6 class="d-inline">قیمت دلار: &nbsp;</h6>
							<p class="d-inline">    </p>
							<p class="d-inline"></p>
							<p class="d-inline"><span class="des">1000 تومان!</span></p>
						</div>
						<div class="slide">
							<h6 class="d-inline">قیمت سیب: &nbsp;</h6>
							<p class="d-inline">   500 تومان   </p>
							<p class="d-inline"><i class="icon-kahesh"></i></p>
							<p class="d-inline"><span class="des">کاهش</span></p>
						</div>
						<div class="slide">
							<h6 class="d-inline">قیمت گلابی: &nbsp;</h6>
							<p class="d-inline">    </p>
							<p class="d-inline"><i class="icon-sabet"></i></p>
							<p class="d-inline"><span class="des">ثابت</span></p>
						</div>

					</section>
				</div>
			</div>
		</div>
	</div>
	<header class="siteHeader">
		<div class="container">
			<div class="row siteHeader-top">
				<div class="col-lg-4 salenewtop">
					<div class="siteHeader-userItem">
						<a href="#" title="">
							<menu-icon class="bi bi-patch-check"></menu-icon>
							<b> نرخ ارز </b>
						</a>
					</div>
					<div class="siteHeader-userItem"><span class="siteHeader-separator">|</span></div>
					<div class="siteHeader-userItem">
						<a href="news_list.html">
							<menu-icon class="bi bi-patch-check"></menu-icon>
							<b>اخبار ویژه</b>
						</a>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="row">
						<div class="col-lg-9 col-12">
							<nav class="siteHeader-top-menu">
								<div>
									<ul class="menu">
										<li class="menu-item menu-item-type-custom menu-item-object-custom "><a href="index.html">صفحه نخست</a></li>
										<li class="menu-item menu-item-type-custom menu-item-object-custom "><a href="about.html">درباره ما</a></li>
										<li class="menu-item menu-item-type-custom menu-item-object-custom "><a href="contact.html">تماس با ما</a></li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="register.html">عضویت در سایت</a></li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="login.html">ورود/خروج</a></li>
									</ul>
								</div>
							</nav>
						</div>
						<div class="col-lg-3 col-12">
							<div class="siteHeader-call">
								<i class="bi bi-phone-vibrate"></i><span>
									<b>09360644130</b>
								</span>با ما در تماس باشید
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="navSticky">
			<div class="container">
				<div class="row">
					<div class="col-lg-2">
						<a href="#" title="" class="navbarbrand">
							<h5 class="siteHeader-logo navbar-brand-img">
								<img src="images/logo.png" alt="گروه بازرگانی جمالی" title="گروه بازرگانی جمالی">
							</h5>
						</a>
					</div>
					<div class="col-lg-6 nopadding marno">
						<!--      start base menu  -->
						<div class="sec navigation">
							<div class="nav-container">
								<nav>
									<div id="mega-menu-wrap-main-menu" class="mega-menu-wrap">
										<div class="mega-menu-toggle">
											<div class="mega-toggle-blocks-left"></div>
											<div class="mega-toggle-blocks-center"></div>
											<div class="mega-toggle-blocks-right">
												<div class='mega-toggle-block mega-menu-toggle-block mega-toggle-block-1' id='mega-toggle-block-1' tabindex='0'>
													<span class='mega-toggle-label' role='button' aria-expanded='false'>
														<span class='mega-toggle-label-closed'></span>
														<span class='mega-toggle-label-open'>بستن</span>
													</span>
												</div>
											</div>
										</div>
										<ul id="mega-menu-main-menu" class="mega-menu max-mega-menu mega-menu-horizontal mega-no-js" data-event="hover" data-effect="fade_up" data-effect-speed="200" data-effect-mobile="disabled" data-effect-speed-mobile="0" data-mobile-force-width="body" data-second-click="go" data-document-click="collapse" data-vertical-behaviour="accordion" data-breakpoint="600" data-unbind="true" data-mobile-state="collapse_all" data-hover-intent-timeout="300" data-hover-intent-interval="100">


											<li class=' mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-menu-megamenu mega-align-bottom-left mega-menu-megamenu'>
												<a title="اخبار" class="mega-menu-link" aria-haspopup="true" aria-expanded="false" tabindex="0">
													<menu-icon class="bi bi-check2-circle"></menu-icon>اخبار<span class="mega-indicator"></span>
												</a>
												<ul class="mega-sub-menu">
													<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-columns-1-of-3'>
														<a title="واردات" class="mega-menu-link" href="news_list.html">واردات</a>
													</li>
													<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-columns-1-of-3'>
														<a title="صادرات" class="mega-menu-link" href="news_list.html">صادرات</a>
													</li>
												</ul>
											</li>

											<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-menu-megamenu mega-align-bottom-left mega-menu-megamenu'>
												<a title="مقالات آموزشی" class="mega-menu-link" href="" aria-haspopup="true" aria-expanded="false" tabindex="0">
													<menu-icon class="bi bi-check2-circle"></menu-icon>
													مقالات آموزشی<span class="mega-indicator"></span>
												</a>

												<ul class="mega-sub-menu">
													<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-columns-1-of-3'>
														<a title="واردات" class="mega-menu-link" href="article_list.html">واردات</a>
													</li>
													<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-columns-1-of-3'>
														<a title="صادرات" class="mega-menu-link" href="article_list.html">صادرات</a>
													</li>
												</ul>
											</li>



											<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-menu-megamenu mega-align-bottom-left mega-menu-megamenu'>
												<a title="معرفی شرکت" class="mega-menu-link" href="about.html" aria-haspopup="true" aria-expanded="false" tabindex="0">
													<menu-icon class="bi bi-check2-circle"></menu-icon> معرفی شرکت
												</a>

											</li>

										</ul>
									</div>
								</nav>
								<script>
									(function ($) {
										$(function () {
											$('.sec.navigation nav ul li a:not(:only-child)').hover(function (e) {
												$(this).siblings('.sec.navigation .sub-menu').toggle();
												$('.sec.navigation .sub-menu').not($(this).siblings()).hide();
												e.stopPropagation();
											});
											$('html').click(function () {
												$('.sec.navigation .sub-menu').hide();
											});
											$('.sec.navigation #nav-toggle').click(function () {
												jQuery('.sec.navigation nav ul').toggle();
											});
											$('.sec.navigation #nav-toggle').on('click', function () {
												this.classList.toggle('active');
											});
										});
									})(jQuery);
								</script>
							</div>
						</div>
					</div>

					<script>
						window.onscroll = function () { myFunction() };
						var navbar = document.getElementById("navSticky");
						var sticky = navbar.offsetTop;
						function myFunction() {
							if (window.pageYOffset >= sticky) {
								navbar.classList.add("sticky")
							} else {
								navbar.classList.remove("sticky");
							}
						}
						jQuery(window).scroll(function () {

							var top = 150;

							var currentTop = jQuery(window).scrollTop();

							if (jQuery(window).width() <= 800) {

								if (currentTop > top) {

									jQuery(".sec.navigation .nav-mobile").css("right", "86%");
									jQuery(".sec.navigation .nav-mobile").css("position", "absolute");
									jQuery(".sec.navigation nav").css("position", "relative");
									jQuery(".sec.navigation nav").css("bottom", "10px");
									jQuery(".sec.navigation .nav-mobile").css("width", "45px");
									jQuery(".sec.navigation #nav-toggle").css("right", "17%");
									jQuery(".sec.navigation .nav-mobile").css("border-radius", "3px");
									jQuery(".sec.navigation .nav-mobile").css("top", "7px");
									jQuery(".siteHeader-logo").css("bottom", "4%");
								}

								else {
									jQuery(".sec.navigation .nav-mobile").css("position", "relative");
									jQuery(".sec.navigation .nav-mobile").css("width", "100%");
									jQuery(".sec.navigation .nav-mobile").css("right", "0");
									jQuery(".sec.navigation #nav-toggle").css("right", "45%");
									jQuery(".siteHeader-logo").css("bottom", "95%");

								}

							}

						});
					</script>

					<div class="col-lg-4 hidden-xs">

						<div class="social siteHeader-social ">
							<a href="#" title="telegram" target="_blank">
								<i class="icon-telegram"></i>
							</a>

							<a href="#" title="instagram" target="_blank">
								<i class="icon-inestagram"></i>
							</a>

							<a href="#" title="twitter" target="_blank">
								<i class="icon-twitter"></i>
							</a>

							<a href="#" title="aparat" target="_blank">
								<i class="icon-aparat"></i>
							</a>
							<a href="#" title="facebook" target="_blank">
								<i class="icon-feacbook"></i>
							</a>
							<a href="#" title="youtube" target="_blank">
								<i class="icon-you-tube" style="position: relative; top: 2px;"></i>
							</a>
							<a href="#" title="linkedin" target="_blank">
								<i class="icon-linkedin" style="position: relative; top: 2px;"></i>
							</a>
						</div>

					</div>

				</div>
			</div>
		</div>
	</header>
	<main class="home">
		<div class="container-fluid imgBanner m-b-50">
			<img src="images/about_default.png" class="" alt="">
		</div>



		<!------------بدنه صفحه---------------->


		<div class="container m-b-30">
			<div class="row">
				<div class="box-default">
					<header class="title_subpages">
						<span>تماس با ما</span>
					</header>
					<br>
					<div class="body_subpage">

						<div class="container ">
							<div class="row">

								<div class="col-md-12 ">

									<div class="contact-us">

										<div><menu-icon class="bi bi-building"></menu-icon>بوشهر- خیابانی که گمرک توشه - روبروی گمرک - ساختمان مورد نظر</div>
										<div><menu-icon class="bi bi-phone-vibrate"></menu-icon>09360644130</div>

										<div>
											<menu-icon class="bi bi-clock"></menu-icon>
											ساعت کاری: شنبه تا چهار شنبه از ساعت 9:00 تا 14:00

										</div>
									</div>

								</div>


							</div>
						</div>

						<div class="container">


							<div class="row">



								<div class="col-md-6 col-md-offset-3">

									<p class="title_subpages">


										همچنین از طریق فرم زیر میتوانید با ما در ارتباط باشید.



									</p>
									<form>

										<div class="form-group">

											<input type="text" class="form-control" id="name" placeholder="نام و نام خانوادگی شما">

										</div>
										<div class="form-group">

											<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="آدرس ایمیل">

										</div>

										<div class="form-group">

											<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="متن پیغام شما"></textarea>
										</div>


										<button type="submit" class="btn btn-primary btn-blue">ارسال پیام</button>
									</form>

								</div>


							</div>
						</div>

					</div>
				</div>
			</div>
		</div>


		<!------------------انتهای بدنه صفحه------------------------->

	</main>

	<!-----------Footer------------->
	<footer class="siteFooter text-justify">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 footerOne text-center">
					<img src="images/logo_white.png" alt="آهن فروشی"
						 title="آهن ملل اصفهان">
				</div>
				<div class="col-lg-3 footerTwo">
					<p>
						معرفی مختصری از شرکت در این قسمت میتواند  نوشته شود


					</p>
				</div>
				<div class="col-lg-4 footerTree">



					<p><menu-icon class="bi bi-building"></menu-icon>بوشهر- خیابانی که گمرک توشه - روبروی گمرک - ساختمان مورد نظر</p>
					<p><menu-icon class="bi bi-phone-vibrate"></menu-icon>09360644130</p>

					<p>
						<menu-icon class="bi bi-clock"></menu-icon>
						ساعت کاری: شنبه تا چهار شنبه از ساعت 9:00 تا 14:00

					</p>

				</div>
				<div class="col-lg-3 footerFour">
					<div style="width: 100%; display: inline-block;">

						<div class="row">
							<div class="col-lg-12 col-12">
								<a target="_blank" href="#">
									<img src="images/enamad.png" alt="اینماد" style="cursor:pointer;">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div class="footerBottom">
		<div class="container">
			<nav class="footerMenu">
				<div>
					<ul class="menu">
						<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="about.html">درباره ما</a></li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="contact.html">تماس با ما</a></li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="register.html">عضویت در سایت</a></li>
					</ul>
				</div>
			</nav>
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-lg-1">
					<a href="#page-top" class="goTop" title="برو بالا"><i class="icon-top"></i></a>
				</div>


				<div class="col-lg-11">
					<div class="copyRight">
						تمامی حقوق این سایت برای
						<a href="#"> گروه بازرگانی جمالی</a> محفوظ می‌باشد.
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-----------End of Footer------------->
	<script src='js/hoverIntent.min.js'></script>
	<script src='js/maxmegamenu.js'></script>
	<script>
		var megamenu = { "timeout": "300", "interval": "100" };
		document.addEventListener("touchstart", function (e) {
			console.log(e.defaultPrevented);
			e.preventDefault();
			console.log(e.defaultPrevented);
		}, Modernizr.passiveeventlisteners ? { passive: true } : false);
	</script>
</body>
</html>