@model PTemplate.Data.DataBase.AspNetUserRoles1

@using Microsoft.AspNetCore.Identity
@using PTemplate
@using PTemplate.Areas.Admin.Data
@using PTemplate.Models
@namespace PTemplate

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "نقش جدید";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ساخت نقش</h2>

<h4>ساخت نقش کاربری</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="~/Admin/UserRoles/Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<input type="hidden" id="UserId" name="UserId" value="UserId" />*@

              کاربر
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
              نقش
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="~/Admin/UserRoles/Index/@ViewData["IdUser"].ToString()">برگشت</a>
</div>

