@model List<PTemplate.Data.DataBase.AspNetRole1>

@using Microsoft.AspNetCore.Identity
@using PTemplate.Data
@using PTemplate.Models
@using PTemplate.Areas.Admin.Data
@using PTemplate.Models
@namespace PTemplate

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "نقش یک کاربر";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>نقش  کاربر</h2>

<p>
    <a href="~/Admin/UserRoles/Create/@ViewData["IdUser"].ToString()">نقش جدید</a>

    @{ 
           ApplicationDbContext appA = new ApplicationDbContext(new Microsoft.EntityFrameworkCore.DbContextOptions<ApplicationDbContext>());
   

    var user = appA.sp_UseridGet(ViewData["IdUser"].ToString()).FirstOrDefault();
    }
</p>
<div class="row">
    <span>  @ViewData["email"].ToString()  : کاربر </span>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
               کد نقش
            </th>
            <th>
               اسم کاربر
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Count()>=1)
        @foreach (var item in Model)
        {
            <tr>
                <td>
                   @item.Name
                </td>
                <td>
                    @user.Email
                </td>
                <td> 
                   <a href="~/Admin/UserRoles/Create/@ViewData["IdUser"].ToString()" >نقش جدید</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
