@model PTemplate.Data.DataBase.Socialweb
@using Microsoft.AspNetCore.Identity

@using PTemplate.Areas.Admin.Data
@using PTemplate.Models
@namespace PTemplate


@using PTemplate
@using PTemplate.Models

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ادرس جدید شبکه اجتماعی";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ساخت شبکه</h2>

<h4>ادرس شبکه</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
              شبکه
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
               اسم شبکه
                <select asp-for="Idsocial" class="form-control" asp-items="ViewBag.Idsocial"></select>
            </div>
            <div class="form-group">
               ادرس
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                فعال
             
                @Html.CheckBox("Isactive", true)
              
            </div>
            <div class="form-group">
             توضیح
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ساخت" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">برگشت</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
