@page
@model ForgotPasswordConfirmation
@{

    ViewData["Title"] = "تایید ریکاروری پسورد";
    Layout = "~/Views/sjtejarat/Shared/_MainHome.cshtml";
    ViewData["homeUrl"] = "/";
    ViewData["externalHomeUrl"] = "/sjtejarat/";
}

@*<div id="container">*@
@*<div class="container panel panel-default p-b-20">*@

<div class="col-12 col-xl-8">
    <div class="contact-content-area bg-white mb-30 p-30 box-shadow">
        <h2>@ViewData["Title"]</h2>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>

