@page
@model ForgotPasswordModel

@{
    ViewData["Title"] = "بازیابی رمز عبور";
    Layout = "~/Views/sjtejarat/Shared/_MainHome.cshtml";
    ViewData["homeUrl"] = "/";
    ViewData["externalHomeUrl"] = "/sjtejarat/";
}



@section sitmapplaceholder{
    <div class="mag-breadcrumb py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb rtl">
                            <li class="breadcrumb-item"><a href="@ViewData["externalHomeUrl"]"><i class="fa fa-home" aria-hidden="true"></i> خانه</a></li>
                            <li class="breadcrumb-item"><a href="#"><i class="fa " aria-hidden="true"></i> یاداوری گذر واژه</a></li>


                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
}

@*<div id="container">*@

@*<div class="container panel panel-default p-b-20">*@

<div class="col-12 col-xl-8">
    <div class="contact-content-area bg-white mb-30 p-30 box-shadow">
        <hr />
        <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow col-2-page">

            <form method="post">
                <h4>برای بازیابی گذرواژه خود لطفا ایمیل خود را وارد نمایید.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email">ایمیل</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">ارسال</button>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
