
@{
    ViewData["Title"] = "این صفحه یافت نشد";
    Layout = "~/Views/sjtejarat/Shared/_MainHome.cshtml";
    ViewData["homeUrl"] = "";
    ViewData["externalHomeUrl"] = "/sjtejarat/";
}

<h2>PageNotFound</h2>

