

@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "تغییر رمز";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "~/Views/sjtejarat/Shared/_MainHome.cshtml";
    ViewData["externalHomeUrl"] = "/sjtejarat/";
    ViewData["HomeUrl"] = "/";
    ViewData["title-icon"] = "fa-lock";
}


<partial name="_StatusMessage" for="StatusMessage" />


@*<div id="container">*@
    <div class="container panel panel-default p-b-20">
        <div class="row">
            <div class="col-md-6">
                <form id="change-password-form" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.OldPassword">رمز فعلی</label>
                        <input asp-for="Input.OldPassword" class="form-control" />
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.NewPassword">رمز جدید</label>
                        <input asp-for="Input.NewPassword" class="form-control" />
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword">تکرار رمز جدید</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-default">بروز رسانی رمز عبور</button>
                </form>
            </div>
        </div>
       

        </div>
        @*</div>*@
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
