@{
    ViewData["Title"] = "درباره ما";
    ViewData["homeUrl"] = "/Home/";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!------ Include the above in your HEAD tag ---------->
<div id="login" class="hero-section" style="background-color:#FFFFFF">
    <div class="pg-title" style="margin-bottom: 30px !important;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="h1 text-xxlarge">درباره ما<small> (شرکت نرم افزاری یاران صفر و یک جهان گستر)</small></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="aboutus-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="aboutus-image float-left hidden-sm"><img src="~/Bita/images/yaran_logo_256.png" alt=""></div>
                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div class="aboutus-content ">
                            <h1> طراحی ایده ی فراخوان داستان نویسی</h1>
                            
                            <p class="text-justify fs-16">
                                <a href="http://www.yarsoft.ir/" target="_blank"> شرکت نرم افزاری یاران صفر و یک جهان گستر </a>
                                در تلاش برای گسترش  دپارتمان انیمیشن سازی خود قصد دارد
                                تا از اندیشه های نو که قابلیت هنری و تجاری در زمینه تولید  پویا نمایی (انیمیشین) دارند،
                                دعوت به همکاری کند لذا در این راستا
                                اقدام به فراخوان داستان نویسی برای سریال انیمشینی خود نموده است
                                تا با کمک به صنعت پویا نمایی کشور بتواند اهداف هنری و تجاری خود را در
                                این زمینه تکمیل نموده و زمینه را برای  نفرات مستعد
                                که علاقه دارند در این صنعت زندگی و فعالیت نمایند فراهم کند.
                            </p>

                            <div class="below-about-text" style="display: block;clear: both;">




                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
