
@model PTemplate.Models.DataViewModel.ContactViewModel

@{
    ViewData["Title"] = "ارتباط با ما";
    ViewData["homeUrl"] = "/Home/";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!------ Include the above in your HEAD tag ---------->
<!-- =========================
     START CONTCT FORM AREA
============================== -->
<section class="contact page p-b-100" id="CONTACT">
    <div class="section_overlay">
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <!-- Start Contact Section Title-->
                <div class="section_title">
                    <h2>
                        @ViewData["Title"]
                    </h2>
                    <p>
                    لطفا در صورت وجود هرگونه سوال، 
                        پیشنهاد و انتقاد در خصوص فراخوان، راحت باشید 
                        و از طریق فرم زیر، آن را با ما در میان بگذارید.
                    </p>
                </div>
            </div>
        </div>

        <div class="contact_form">
            <div class="container">

                <!-- START ERROR AND SUCCESS MESSAGE -->
                <div class="form_error text-center">
                    <div class="name_error hide error">
                        لطفا نام خود را وارد کنید
                    </div>
                    <div class="email_error hide error">
                        لطفا ایمیل خود را وارد کنید
                    </div>
                    <div class="email_val_error hide error">
                        لطفا یک آدرس پست الکترونیکی معتبر وارد کنید
                    </div>
                    <div class="message_error hide error">
                        لطفا پیام خود را وارد کنید
                    </div>
                </div>
                <div class="Sucess"></div>
                <!-- END ERROR AND SUCCESS MESSAGE -->
                <!-- FORM -->
                <form role="form">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="name" placeholder="نام">
                            <input type="email" class="form-control" id="email" placeholder="ایمیل">
                            <input type="text" class="form-control" id="subject" placeholder="موضوع">
                        </div>


                        <div class="col-md-8">
                            <textarea class="form-control" id="message" rows="25" cols="10" placeholder="متن پیام ..."></textarea>
                            <button type="button" class="btn btn-default submit-btn form_submit">ارسال پیام</button>
                        </div>
                    </div>
                </form>
                <!-- END FORM -->
            </div>
        </div>


    </div>
</section>
<!-- END CONTACT -->
