@{
    ViewData["Title"] = "قوانین استفاده";
    ViewData["homeUrl"] = "/Home/";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!------ Include the above in your HEAD tag ---------->
<div id="login" class="hero-section" style="background-color:#FFFFFF">
    <div class="pg-title" style="margin-bottom: 30px !important;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="h1 text-xxlarge">شرایط شرکت در فراخوان<small> (لطفا با دقت مطالعه فرمایید)</small></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="aboutus-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="aboutus-image float-left hidden-sm"><img src="~/Bita/images/logo.png" alt=""></div>
                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div class="aboutus-content ">
                            <h1>قوانین و مقرارات فراخوان</h1>
                            <h2>مقررات عمومی:</h2>
                            <ul>
                                <li> حداکثر سن شرکت‌کنندگان تا زمان برگزاری  بیتا یاران 15 سال تمام تعیین شده است. (متولدین آذرماه 1383 به قبل)</li>
                                <li>موضوع داستان آزاد (ژانر)</li>
                                <li>هر فرد می‌تواند همزمان سه داستان را به سامانه ارسال کند.</li>

                                <li>پس از پایان  فراخوان آثار ارسالی به شرکت‌کنندگان عودت داده نمی‌شود.</li>
                                <li>شرکت نرم افزاری یاران صفر یک جهان گستر از دریافت آثار ارسال شده بعد از موعد مقرر معذور است.</li>
                                <li>حداکثر 4 نفر از شرکت‌کنندگان در فراخوان دعوت به مصاحبه خواهند شد( برای انتخاب داستان منتخب)</li>
                                
                                <li>ارسال آثاری که قبلا منتشر شده‌اند بلامانع است.</li>
                                <li>برای تسهیل در امر داوری، نویسندگانی که چندین اثر دارند، باید هر اثر را به صورت مجزا و با اندازه قلم 12 و نوع قلم B Mitra تایپ کرده و در سامانه  اثر را ارسال کنند.</li>
                                <li>مالکیت معنوی و مادی  هر داستان باید متعلق به خود فرد (نویسنده) باشد در غیر آن صورت هر گونه ضرر و زیان مادی و معنوی به عهده نویسنده می باشد.</li>
                            
                                <li>این فراخوان  مختص به تمام فارسی زبانان است و از هر جای دنیا می توان در آن شرکت جست و کلیه اهالی قلم و نویسندگان سراسر کشور می‌توانند با مراجعه به <a href="http://www.bitayaran.ir">www.bitayaran.ir</a> ثبت نام و از طریق فرم مربوطه نسبت به ارسال اثر اقدام کنند.</li>
                                <li>  اثر ارسالی نباید کمتر از هزار و پانصد کلمه و بیشتر از سه صفحه با شرایت اعلام شده باشد.</li>
                                <li>  هر نویسنده تنها می‎تواند سه اثر به فراخوان ارسال کند.</li>
                              
                                <li>  مشخصات نویسنده، نام و نام خانوادگی، شماره تماس، کشور، استان و شهر محل اقامت و خلاصه رزومه به صورت خود فایل داستان ارسال شود</li>
                                <li>  آثار باید به صورت پی دی اف با فونت B Mitra با اندازه فونت 12 به سامانه <a href="http://www.bitayaran.ir">www.bitayaran.ir</a> فرستاده شود.</li>
                                <li> اعلام داستان منتخب در شب یلدای 1398 (30 آذر ماه 1398) با اعلام آثار برگزیده در سامانه.</li>
                            
                                <li>  نام داوران مرحله نخست و نهایی پس از اتمام داوری اعلام خواهد شد.</li>
                                <li> تمامی حقوق مادی و معنوی و حقوقی داستان منتخب شده(منتخب فراخوان ) به شرکت نرم افزاری یاران صفر یک جهان گستر است . </li>
                                <li> بر گزاری این فراخوان برای انتخاب یک داستان تجاری برای ساخت یک انمیشن به سبک ژاپنی است و داستان منتخب با دریافت مبلغ تعیین شده در فراخوان موافقت به نوشتن 12 قسمت 20 الی 24 دقیقه ای خواهد نمود </li>
                               
                                <li> در صورت که فقط شخص منتخب در فراخوان شرکت کند و داستان منتخب انتخاب شود و علاقه ای یا توان نوشتن داستان برای انمیشن را نداشته باشد مبلغ 400 هزار تومان پاداش دریافت نموده و تمامی حقوق مادی و معنوی و حقوقی متعلق به شرکت نرم افزاری یاران صفر یک جهان گستر می باشد. </li>
                                <li> ارسال آثار به منزله پذیرش قوانین و مقرارات فراخوان  است. </li>

                            </ul>
                            <h2>پاداش منتخب فراخوان:</h2>
                            <ul>
                               <li> شرکت کننده ی منتخب، مبلغ 3 میلیون تومان برای اتمام داستان سریال انیمیشنی  خود دریافت خواهد نمود. </li>
                               <li> در صورت تمایل نداشتن فرد منتخب به تکمیل داستان خود برای سریال انیمیشن 12 قسمتی مبلغ چهارصد هزار تومان پاداش دریافت خواهد نمود. </li>

                            </ul>
                            <h2>تقویم برگزاری:</h2>
                            <ul>
                                <li>تاریخ اعلام فراخوان:  18 ابان ماه 1398</li>
                                <li>   آخرین مهلت ارسال آثار: یک دی ماه 1398 </li>
                                <li>   زمان اعلام چهار منتخب  : 15 دی ماه 1398 </li>
                                <li>   اعلام داستان منتخب در شب یلدای 1398 (30 آذر ماه 1398) با اعلام آثار برگزیده در سامانه. </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
