@model PTemplate.Data.DataBase.Posttype
@using Microsoft.AspNetCore.Identity
@using PTemplate
@namespace PTemplate
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "جزئیات نوع پست";
   Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>اطلاعات نوع پست</h1>

<div>
    <h4>نوع پست</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a href="~/Admin/Posttypes/Edit/@Model.Id">ویرایش</a> |
    <a href="~/Admin/Posttypes/Index">برگشت</a>
</div>
