
@{
        Layout = "~/Views/shabakekharid/Shared/_Layout.cshtml";
    ViewData["homeUrl"] = "";
    
}





<div >
    <img style="display:block;margin: 0 auto;" src="~/images/logo.png" />
    <h1 style="display:block;margin: 0 auto; text-align:center">شبکه خرید</h1>

</div>
